#login {
    height: 100vh;
    background-color: #344a5f;
    .login-wrap {
      width: 330px;
      margin: 0 auto;
      // display: flex;
    }
    .menu-tab {
      text-align: center;
      li {
        display: inline-block;
        width: 88px;
        height: 36px;
        line-height: 36px;
        border-radius: 2px;
        color: #ffffff;
        font-size: 14px;
        cursor: pointer;
      }
      .current {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
  .lgoin-form{
      margin-top: 29px;
      label{
          display: block;
          color: #ffffff;
          font-size: 14px;
          margin-bottom: 3px;
      }
      .item-form{
          margin-bottom: 13px;
      }
      .block{
          width: 100%;
          display: block;
      }
  }